<form action="/subscribe" method="post">
  <input type="text" name="name" placeholder="Name" value="Abducted Rhino">
  <input type="text" name="email" placeholder="Email" value="abductedrhino@example.com"">
  <input type="text" name="zipCode" placeholder="Zip Code" pattern="[0-9]{5}" value="12345">
  <input type="submit" name="submit">
</form>
